body {
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  cursor: url('../pic/hammer.png') 20 20, auto;
}

.infoBox {
  border: 1px solid grey; 
  padding: 20px;            
  width: max-content;       
  margin-bottom: 35px;      
  font-size: 18px;         
  background: #f8f8f8;      
  border-radius: 6px;
  color: black;
}

#game {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  grid-template-rows: repeat(4, 130px);
  gap: 7px;
}

.cell {
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: red;
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  border: 2px solid black;
}

#modalBtn {
  margin-top: 15px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
}
